@font-face {
  font-family: RobotoBlack;
  src: url(Roboto-Black.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(Roboto-Light.ttf);
}
@font-face {
  font-family: RobotoMedium;
  src: url(Roboto-Medium.ttf);
}
@font-face {
  font-family: RobotoRegular;
  src: url(Roboto-Regular.ttf);
}
@font-face {
  font-family: RobotoBold;
  src: url(Roboto-Bold.ttf);
}
@font-face {
  font-family: HelveticaN;
  src: url(Helvetica.ttf);
}
@font-face {
  font-family: AvenirBlack;
  src: url(Avenir-Black.otf);
}
@font-face {
  font-family: BasisRegular;
  src: url(BasisGrotesquePro-Regular.otf);
}
@font-face {
  font-family: SailecRegular;
  src: url(SailecRegular.otf);
}
@font-face {
  font-family: AmsiBold;
  src: url(AmsiProNarw-Bold.ttf);
}
@font-face {
  font-family: AmsiLight;
  src: url(AmsiProNarw-Light.ttf);
}
@font-face {
  font-family: BasisBlack;
  src: url(Basis\ Grotesque\ Pro\ Black.ttf);
}
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.banner-form {
  background-image: url(Bannerp.png);
  background-size: 100%;
  margin-top: 135px;
}
.banner {
  display: flex;
  height: 100%;
}
.equipo {
  padding: 3rem 0px;
  text-align: center;
  font-size: 1.6rem;
  font-family: "BasisBlack";
  color: #66ad49;
  background-image: url(Equipo.png);
  background-size: 100%;
  margin-top: -90px;
}
.modulos img {
  max-width: 100%;
}
.title-ods .title-certificado {
  margin-top: 2rem;
  font-family: BasisBlack;
  font-size: 2rem;

  color: #528e7a;
}
.modulos .tabla {
  background-color: #082f24;
  margin-top: -10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.modulos .tabla p {
  text-align: center;
  font-size: 2rem;
  font-family: "BasisBlack";
  color: #66ad49;
}
.equipo p {
  text-align: center;
  font-size: 1.6rem;
  font-family: "BasisBlack";
  color: #66ad49;
}
.aliado {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.aliado p {
  text-align: center;
  font-size: 1.6rem;
  font-family: "BasisBlack";
  color: #66ad49;
}
.container-aliados {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70%;
  background-color: #67a680;
  width: 90%;
  border-radius: 0px 125px 0px 0px;
  padding: 0px 60px;
}
.logo-aliados {
  background-color: white;
  border-radius: 50px;
  width: 100px;
  height: 100px;
}
.title-curso {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-tajeta p{
max-width: 100%;
}
.roboto-regular {
  font-family: RobotoRegular;
}
.card-aprendemos {
  border-radius: 1rem;
  position: relative;
  padding: 0rem 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  background: white;
}
.title-dirigido {
  font-family: BasisBlack;
  font-size: 2rem;
  margin-bottom: 13px;
  color: #528e7a;
}
.dirigido-child {
  display: flex;
  gap: 15px;
}
.dirigido-child .descripcion {
  font-family: RobotoRegular;
}
.dirigido-descripcion {
  width: 70%;
  color: #528e7a;
  font-size: 1.2rem;
}
.form .descripcion {
  text-align: center;
  font-family: Roboto;
  color: white;
  margin-top: 1rem;
  font-size: 1.5rem;
}
.title-impacto {
  font-family: BasisBlack;
  text-align: center;
  padding-top: 4rem;
  font-size: 3rem;
  color: white;
}
.title-impacto p {
  z-index: 98;
  position: relative;
}
.container-tajeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  gap: 30px;
  width: 22%;
  z-index: 99999;
}
.impacto {
  background-color: #528e7a;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
}
.grande {
  width: 100%;
  position: absolute;
  top: -170px;
}
.pequeña {
  display: none;
}
.contactanos {
  display: flex;
}
.contactanos img {
  max-height: 10%;
}
.flex-1 {
  width: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.flex-2 {
  width: 90%;
  display: flex;
  justify-content: center;
}
.container-title .flex-1 p {
  font-size: 3rem;
  padding: 60px 0px;
  padding-left: 13px;
}
.container-title p {
  color: #518a7a;
  line-height: 1.5rem;
}
.title-impacto p {
}

.flex-tarjetas {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-height: 100%;
  z-index: 99;
}
.container-description {
  display: flex;
  justify-content: center;
  background: white;
  border-radius: 20px;
  padding: 20px;
  height: 45%;
  color: #518a7a !important;
}
.container-description p {
  color: #518a7a;
}
.container-flex {
  width: 100%;
  display: flex;
  max-width: 1600px;
}
.button-brochuer {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.brochuer {
  margin: 0 auto;
  padding: 20px 40px;
  border-radius: 30px 0 30px 0;
  border-style: none;
  background-color: #082f24;
  color: white;
  cursor: pointer;
  font-size: 18pt;
  font-family: "BasisBlack";
}
.container-cards-aprendemos .title {
  font-family: BasisBlack;
  color: #082f24;
  font-size: 1.1rem;
  text-align: center;
  height: 15%;
}
.container-cards-aprendemos .descripcion {
  text-align: center;
  font-family: roboto;
  height: auto;
  max-width: 90%;
  margin: 2rem auto;
  margin-bottom: 0px;
  color: #082f23;
  font-size: 1.1rem;
  padding-bottom: 1.5rem;
}
.title-form {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.title-form .icon {
  width: 20%;
}
.title-form .icon img {
  width: 100%;
}
.title-form .title {
  width: 60%;
}
.modalidad {
  background-color: #528e7a;
  padding-top: 1rem;
  padding-bottom: 9rem;
}
.dirigido-a {
  display: flex;
  margin-top: 12rem;
  position: relative;
  background-color: white;
  z-index: 999;
}
.ods {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.icons-ods {
  display: flex;
  justify-content: space-between;
}
.icons-ods img {
  max-width: 30%;
}
.descripcion-ods {
  font-family: RobotoRegular;
  color: #528e7a;
}
.title-ods {
  text-align: center;
}
.dirigido-icon {
  width: 15%;
}
.dirigido-icon img {
  width: 100%;
}
.dirigido {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
}
.ods {
  width: 50%;
}
.title-form {
  display: flex;
  justify-content: center;
}
.form {
  max-width: 40% !important;
  width: 80%;
  border-radius: 35px;
  background-color: #6da74e;
  padding: 25px 12px;
}
.form-municipios {
  display: flex;
  flex-direction: column;

  max-width: 100%;
}
.title-curso .title-1 {
  font-family: BasisBlack;
  font-size: 5rem;
}
.title-curso .title-2 {
  font-family: BasisBlack;
  font-size: 6.5rem;
}
/* 







*/
.terminos {
  appearance: none;
  width: 60px;
  height: 60px;
}
.terminos:checked {
  background-image: url(check1.svg);
  background-size: 60%;
  background-position: 51%;
  background-repeat: no-repeat;
}
div label {
  font-family: RobotoRegular;
  font-size: 1.5rem;
  color: white;
}
/* 





*/
.form-municipios input {
  margin-top: 10px;
  background-color: transparent;
  border-style: none;
  border: 1px #082f24 solid;
  border-radius: 35px 0 35px 0;
  padding: 20px 25px;
  color: white;
  font-family: RobotoRegular;
  font-size: 1.1rem;
}

.form-municipios input::placeholder {
  color: white;
  font-family: RobotoRegular;
  opacity: 0.5;
}
.btn-enviar {
  width: 41%;
  margin: 0 auto;
  background-color: transparent;
  /* border: none; */
  border: 1px #082f24 solid;
  padding: 2px 0;
  border-radius: 20px 20px 0px 0px;
  font-family: BasisBlack;
  font-size: 28px;
  color: white;
  cursor: pointer;
}
.btn-enviar:hover {
  background-color: white;
  color: #082f23;
}

.form-curso {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title p {
  font-size: 2.5rem;
  font-family: "RobotoRegular";
  color: white;
}
.card-equipo .biografia {
  padding: 1.5rem;
  height: 75%;
}
.card-equipo .foto {
  width: 130px;
  height: 150px;
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
}
.card-equipo .biografia p {
  font-size: 1rem;
}
.title-curso .t {
  color: white;
  padding-top: 13rem;
  padding-bottom: 10rem;
}
.tabla .imgtabla {
  max-width: 70%;
}
@media (max-width: 2500px) {
  .dirigido-a {
    display: flex;
    margin-top: 0rem;
  }
  .title-impacto p {
    font-size: 2.5rem;
  }
  .form-municipios input {
    padding: 10px 15px;
  }
  div label {
    font-size: 1rem;
  }
  .title p {
    font-size: 1.5rem;
  }
  .title-form .icon {
    width: 15%;
  }
  .title-curso .title-1 {
    font-size: 3rem !important;
  }
  .title-curso .title-2 {
    font-family: BasisBlack;
    font-size: 4.5rem;
  }
  .terminos {
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 13px 0 13px 0 !important;
  }
  .impacto {
    padding-top: 2rem;
  }
  .title-impacto {
    padding-top: 0rem;
  }
  .grande {
    top: -100px;
  }
  .form {
    max-width: 70% !important;
    width: 80%;

    background-color: #6da74e;
    padding: 35px 12px;
  }
  /* .pequeña {
    position: absolute;
    top: -160px;
    display: block;
  } */
  .grande {
    display: block;
  }
}
@media (max-width: 1024px) {
  .modalidad {
    overflow: hidden;
    padding-bottom: 1rem;
  }
  .impacto {
    display: block;
  }
  .tabla .imgtabla {
    max-width: 100%;
  }
  .modulos .tabla p {
    font-size: 3rem;
  }
  .impacto .circulos-carrusel {
    margin-top: -30px;
    margin-bottom: 2rem;
  }
  .title-curso {
    width: 100%;
  }
  .container-tajeta p {
    font-size: 1.8rem;

    max-width: 65%;
  }
  .dirigido-a {
    flex-direction: column;
  }
  .dirigido {
    width: 100%;
  }
  .descripcion-ods {
    font-size: 30px;
  }
  .ods {
    width: 100%;
  }
  .form-curso {
    width: 100%;
    padding-bottom: 2rem;
  }
  .title-curso .t {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
  .banner {
    flex-direction: column;
  }
  .container-cards-equipo {
    width: 400%;
  }
  .navbar-nav {
    display: none;
  }
  .title-como-aprendemos {
    font-size: 3rem;
  }
  .title-impacto p {
    font-size: 2rem;
  }
  .equipo {
    overflow: hidden;
  }
  .flex-tarjetas {
    width: 400%;
  }
  .container-title {
    width: 65%;
    padding: 15px 0px;
  }
  .grande {
    display: none;
  }
  .container-tajeta {
    width: 100%;
  }
  .impacto {
    overflow: hidden;
  }
  .container-cards-aprendemos .title {
    font-size: 1.8rem;
  }
  .container-cards-aprendemos .descripcion {
    margin-top: 4rem;
    font-size: 1.8rem;
  }
  .card-aprendemos img {
    margin-left: auto;
    margin-right: auto;
    margin-top: -30%;
    margin-bottom: 10%;
    width: 22%;
  }
  .card-aprendemos {
    width: 100%;
    padding-top: 65px;
    margin: 0px 200px;
  }
  .circulos-carrusel {
    margin-top: 34px;
  }
  .container-cards-aprendemos {
    margin-top: 5rem;
    gap: 0px;
    max-width: none;
    display: flex;
    justify-content: center;
    width: 400%;
  }
}
